/**
 * Colors #colors
 */

$body-bg:             #f5f5f5 !default;
$body-color:          #000 !default;
$active-color:        #2185D0;
$active-color-hover:  #1678c2;

$tab-color:           #ff5311;
$active-tab-color:    #bfcade;
$border-tab-color:    #c1c9de;

$error-color:         #B03060;

$black-color:         #000000;
$white-color:         #ffffff;

$green: #00a652;
$purple: purple;
$blue: #006dfe;
$pink: #98a0b3;

/**
 * Form colors
 */
$error-form-color:  $error-color;



